input {
    margin: 40px 0;
}

table {
    border-collapse: inherit;

    td {
        text-align: center;
        color: #fff;
        border-radius: 8px;
        padding: 10px;
        width: 60px;
        background-color: #2e4c6d;
    }

    td:hover {
        cursor: pointer;
    }

    #valid {
        background-color: #fc997c;
    }
}

#clavier {
    padding: 20px;
    margin: 20px;
}

button a {
    color: #fff;
}
