table {
    border-collapse: inherit;

    td {
        text-align: center;
        color: #fff;
        border-radius: 8px;
        padding: 10px;
        width: 60px;
        background-color: #2e4c6d;
    }
}

#clavier {
    background: #fff;
    padding: 20px;
    margin: 20px;
}

.card-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    height: 87.5px;
    width: 175px;
}

.list-group-item-action,
.btn-back {
    background-color: #2e4c6d;
    color: #fff;
}

.btn-confirm {
    background-color: #FC997C;
    color: #fff;
}
