<div id="clavier" class="d-flex justify-content-around">
    <div class="d-flex flex-column justify-content-between">
        <input type="text" placeholder="Code Article" (keyup)="onKeyup($event)">
        <button class="btn btn-primary" (click)="searchProduct()">
            Produit inconnu
        </button>
    </div>
    <table>
        <tr>
            <td (click)="clavierNumber(1)">1</td>
            <td (click)="clavierNumber(2)">2</td>
            <td (click)="clavierNumber(3)">3</td>
        </tr>
        <tr>
            <td (click)="clavierNumber(4)">4</td>
            <td (click)="clavierNumber(5)">5</td>
            <td (click)="clavierNumber(6)">6</td>
        </tr>
        <tr>
            <td (click)="clavierNumber(7)">7</td>
            <td (click)="clavierNumber(8)">8</td>
            <td (click)="clavierNumber(9)">9</td>
        </tr>
        <tr>
            <td>Clear</td>
            <td>0</td>
            <td>-></td>
        </tr>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
