<div id="clavier" class="d-flex justify-content-around">
    <div class="d-flex flex-column justify-content-between">
        <input type="text" placeholder="Code Article" />
        <button class="btn btn-primary" (click)="searchProduct()">
            Produit inconnu
        </button>
    </div>
    <table>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <td>7</td>
            <td>8</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Clear</td>
            <td>0</td>
            <td>-></td>
        </tr>
    </table>
</div>
