<div id="clavier" class="d-flex justify-content-around">
    <div class="d-flex flex-column justify-content-between">
  
            <input type="text" [formControl]="codeControl" placeholder="Code Article" (keyup)="onKeyup($event)"/>
<button (click)="validCode()">Ok</button>
       
        <button class="btn btn-primary" (click)="searchProduct()">
            Produit inconnu
        </button>
    </div>
    <table>
        <tr>
            <td (click)="clavierNumber(1)">1</td>
            <td (click)="clavierNumber(2)">2</td>
            <td (click)="clavierNumber(3)">3</td>
        </tr>
        <tr>
            <td (click)="clavierNumber(4)">4</td>
            <td (click)="clavierNumber(5)">5</td>
            <td (click)="clavierNumber(6)">6</td>
        </tr>
        <tr>
            <td (click)="clavierNumber(7)">7</td>
            <td (click)="clavierNumber(8)">8</td>
            <td (click)="clavierNumber(9)">9</td>
        </tr>
        <tr>
            <td>Clear</td>
            <td>0</td>
            <td>-></td>
        </tr>
    </table>
</div>
