<app-nav></app-nav>
<div id="general">
    <div>
        <app-list-products></app-list-products>
        <div class="d-flex justify-content-between px-4">
            <div *ngIf="isWaiting; else elseBlock">
                <button class="btn btn-warning" (click)="play()">
                    Reprise du client
                </button>
            </div>
            <ng-template #elseBlock
                ><button
                    class="btn btn-warning"
                    (click)="pause()"
                    [disabled]="isEmpty()"
                >
                    Mise en attente
                </button></ng-template
            >
            <button
                class="btn btn-danger"
                (click)="giveUp()"
                [disabled]="isEmpty()"
            >
                Abandonner
            </button>
        </div>
        <div class="d-flex justify-content-between p-4">
            <button class="btn btn-dark" (click)="scanProductA()">
                Scanner un produit A
            </button>
            <button class="btn btn-dark" (click)="scanProductB()">
                Scanner un produit B
            </button>
        </div>
    </div>
    <div>
        <app-clavier></app-clavier>
        <div id="paiement" class="d-flex flex-column align-items-center">
            <p>Total : {{ totalPrice }} €</p>
            <button
            data-bs-target="#payModal"
             data-bs-toggle="modal" 
         
                class="btn btn-success"
               
                [disabled]="isEmpty()"
            >
            <!-- (click)="pay()" -->
                Payer
            </button>
            
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="payModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
