<app-nav></app-nav>
<div id="general">
    <div>
        <app-list-products></app-list-products>
        <div class="d-flex justify-content-between px-4">
            <div *ngIf="isWaiting; else elseBlock">
                <button class="btn btn-warning" (click)="play()">
                    Reprise du client
                </button>
            </div>
            <ng-template #elseBlock
                ><button class="btn btn-warning" (click)="pause()">
                    Mise en attente
                </button></ng-template
            >
            <button class="btn btn-danger" (click)="giveUp()">
                Abandonner
            </button>
        </div>
        <ng-template #elseBlock
            ><button (click)="pause()" [disabled]="isEmpty()">
                Mise en attente
            </button></ng-template
        >
        <button (click)="giveUp()" [disabled]="isEmpty()">Abandonner</button>
        <div>
            <button (click)="scanProductA()">Scanner un produit A</button>
            <button (click)="scanProductB()">Scanner un produit B</button>
        </div>
    </div>
    <div>
        <app-clavier></app-clavier>
        <div id="paiement" class="d-flex flex-column align-items-center">
            <p>Total : {{ totalPrice }} €</p>
            <button
                class="btn btn-success"
                (click)="pay()"
                [disabled]="isEmpty()"
            >
                Payer
            </button>
        </div>
    </div>
</div>
