nav {
    color: #fff;
    background-color: rgb(75 85 95 / 75%);

    p {
        margin: 10px;
    }

    .theme {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-theme {
        border-radius: 100%;
        width: 10px;
        height: 10px;
        margin: 0 2px;
    }

    .theme .btn-theme:nth-child(1) {
        background-color: green;
    }

    .theme .btn-theme:nth-child(2) {
        background-color: #fa8072;
    }

    .theme .btn-theme:nth-child(3) {
        background-color: black;
    }

    .theme button:nth-child(4) {
        background-color: white;
    }
}

.button-disconnect {
    width: 25px;
    height: 25px;
    filter: invert(100%);
    margin: 10px;
}
#date {
    text-transform: capitalize;
}
