<nav class="d-flex justify-content-between align-items-center">
    <div class="theme d-flex justify-content-around">
        <button class="btn-theme" (click)="backgroundColor('#fb3640')"></button>
        <button class="btn-theme" (click)="backgroundColor('#247ba0')"></button>
        <button class="btn-theme" (click)="backgroundColor('#afa2ff')"></button>
        <button class="btn-theme" (click)="backgroundColor('#171a21')"></button>
        <button class="btn-theme" (click)="backgroundColor('#e5e5e5')"></button>
    </div>
    <p><a [routerLink]="['/general']"> Bonjour Truc</a></p>
    <p>{{ currentState }}</p>
    <p id="date">{{ myDate }}</p>
    <img
        class="button-disconnect"
        src="assets/img/power.png"
        (click)="disconnect()"
        alt="disconnect"
    />
</nav>
