nav {
    color: #fff;
    background-color: rgb(75 85 95 / 75%);
    p {
        margin: 10px;
    }
}
.button-disconnect {
    width: 35px;
    height: 35px;
    filter: invert(100%);
    margin-right: 10px;
}
