table {
    width: 95%;
    background: #fff;
    padding: 20px;
    margin: 20px;
    thead {
        tr {
            background: rgb(75 85 95 / 75%);
            color: #fff;

            th {
                padding: 20px;
            }
        }
    }

    td {
        padding: 20px;
    }
}

.btn-back {
    background-color: rgb(75 85 95 / 75%);
    color: #fff;
}

.input-quantity{
    width: 4em;
}

.btn-primary {
    background: #FC997C;
    border: 0;
}

.btn-secondary {
    background: #607790;
    border: 0;
}

.modalConfirmDeleteProduct {
    width: 100%;
    height: 200px;
    text-align: center;
}

.modal-body {
    display: flex;
    align-items: center;
}

.buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}