table {
    width: 95%;
    background: #fff;
    padding: 20px;
    margin: 20px;
    
    thead {
        tr {
            background: rgb(75 85 95 / 75%);
            color: #fff;
            th {
                padding: 20px;
            }
        }
    }

    td {
        padding: 20px;
    }
}

.btn-back {
    background-color: rgb(75 85 95 / 75%);
    color: #fff;
}

.input-quantity{
    width: 4em;
}
